<div class="flex flex-column align-items-center justify-content-center">
   
      <div class="card p-shadow-3 p-p-4 w-full md:w-8 lg:w-6">
        <h2 class="p-text-center">{{ empleadoSeleccionado ? 'Actualizar Empleado' : 'Registrar Empleado' }}</h2>

        <form (ngSubmit)="guardarEmpleado()">

          <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="nombre">Nombre</label>
                <input id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required  type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="empleado.nombre?.length === 0" class="p-error">Nombre es requerido.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="apellido">Apellido</label>
                <input id="apellido" [(ngModel)]="empleado.apellido" name="apellido" required type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="empleado.apellido?.length === 0" class="p-error">Apellido es requerido.</small>
            </div>
            <div class="field col-12 md:col-6">
              <label for="email">Email</label>
              <input id="email" [(ngModel)]="empleado.email" name="email" required type="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              <small *ngIf="empleado.email?.length === 0" class="p-error">Email es requerido.</small>
              <small *ngIf="!empleado.email?.includes('@')" class="p-error">Email no es válido.</small>
            </div>
            <div class="field col-12 md:col-6">
              <label for="tallePredeterminado">Talla</label>
              <input id="tallePredeterminado" [(ngModel)]="empleado.tallePredeterminado" name="talle" required type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              <small *ngIf="empleado.tallePredeterminado?.length === 0" class="p-error">Talle es requerido.</small>
            </div>
          </div>
  
          <!--div class="p-field p-mt-2">
            <button pButton type="submit" label="Guardar" [disabled]="!empleado.nombre || !empleado.apellido || !empleado.email || !empleado.tallePredeterminado"></button>
          </!--div-->
          <div class="p-field p-mt-2">
            <button pButton (click)="actualizarEmpleado()">Actualizar</button>
          </div>
          
        </form>
      </div>
    </div>
  
  