<div style="max-width: 800px; margin: 0 auto;">
   <div class="p-card p-shadow-3 p-p-4 w-full md:w-8 lg:w-6">
    <div>
        <h5 class="p-text-center">Filtro</h5>
        <div class="field col-12 md:col-6">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="nombreFiltro" placeholder="Nombre" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="apellido">Apellido</label>
            <input [(ngModel)]="apellidoFiltro" placeholder="Apellido" ype="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" /> 
        </div>
        
        <button pButton (click)="filtrarEmpleados()">Buscar</button>
    </div>
   </div> 
    
    


    <div class="card">
        <p-toast />
        <p-table [value]="empleados" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Talla</th>
                    <th style="width: 5rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleados>
                <tr>
                    <td>{{ empleados.nombre }}</td>
                    <td>{{ empleados.apellido }}</td>
                    <td>{{ empleados.email }}</td>
                    <td>{{ empleados.tallePredeterminado }}</td>
                    <td><i (click)="selectedEmpleadoActualizar(empleados)" class="fa-solid fa-pen-to-square text-info"></i></td>
                    <td>
                        <button 
                            type="button" 
                            pButton 
                            pRipple 
                            icon="pi pi-plus" 
                            (click)="selectedEmpleado(empleados)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    
    
</div>