<div style="max-width: 800px; margin: 0 auto;">


    <p-table 

    [value]="prenda" 
    paginator 
    [rows]="5" 
    [rowsPerPageOptions]="[5, 10, 20]" 
    styleClass="p-datatable-striped" 
    [tableStyle]="{'min-width': '50rem'}"
    [globalFilterFields]="['nombrePrenda', 'Descripcion']"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} prendas"
  >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Id">Id <p-sortIcon field="Id"></p-sortIcon></th>
                <th pSortableColumn="nombrePrenda">Nombre de Prenda <p-sortIcon field="nombrePrenda"></p-sortIcon></th>
                <th pSortableColumn="Descripcion">Descripción <p-sortIcon field="Descripcion"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prenda>
            <tr>
                <td>{{prenda.id}}</td>
                <td>{{prenda.nombrePrenda}}</td>
                <td>{{prenda.descripcion}}</td>
            </tr>
        </ng-template>

        <!-- Cuerpo de la tabla -->
   

    <ng-template pTemplate="footer">
        <tr>
            <td colspan="3">Total de Prendas: {{ prenda?.length }}</td>
        </tr>
    </ng-template>
</p-table>


</div>



