<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-6 p-lg-4">
    <h2 class="p-text-center">Hacer un Pedido de Prenda</h2>
    
    <form (ngSubmit)="insertarPedido()">

      <div class="p-field">
        <label for="EmpleadoId" class="p-mb-6">Empleado ID</label>
        <input pInputText id="EmpleadoId" [(ngModel)]="pedido.EmpleadoId" name="EmpleadoId" required />
        <small *ngIf="pedido.EmpleadoId <= 0" class="p-error">Por favor, ingrese un ID de empleado válido.</small>
      </div>

      <div class="p-field">
        <label for="FechaPedido" class="p-mb-6">Fecha Pedido</label>
        <input type="date" pInputText id="FechaPedido" [(ngModel)]="pedido.FechaPedido" name="FechaPedido" required />
        <small *ngIf="!pedido.FechaPedido" class="p-error">Por favor, seleccione una fecha de pedido.</small>
      </div>

      <div class="p-field">
        <label for="prenda">Prenda</label>
        <p-dropdown 
            [options]="prendas"
            [(ngModel)]="pedido.IdPrenda" name="IdPrenda"
            optionLabel="nombrePrenda"
            placeholder="Selecciona Prenda"
            (onChange)="onPrendaChange($event)" />
        <small *ngIf="pedido.IdPrenda <= 0" class="p-error">Por favor, seleccione una prenda.</small>
      </div>

      <div class="p-field">
        <label for="talle" class="p-mb-6">Talla</label>
        <input pInputText id="talle" [(ngModel)]="pedido.Talle" name="talle" required />
        <small *ngIf="!pedido.Talle" class="p-error">Por favor, ingrese una talla.</small>
      </div>

      <div class="p-field">
        <label for="cantidad" class="p-mb-6">Cantidad</label>
        <input type="number" pInputText id="cantidad" [(ngModel)]="pedido.Cantidad" name="cantidad" required />
        <small *ngIf="pedido.Cantidad <= 0" class="p-error">Por favor, ingrese una cantidad válida.</small>
      </div>

      <div class="p-field p-mt-2">
        <button pButton type="submit" label="Guardar" [disabled]="!pedido.EmpleadoId || !pedido.FechaPedido || !pedido.IdPrenda || !pedido.Talle || !pedido.Cantidad"></button>
      </div>
    </form>
  </div>
</div>
